In [1]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [2]:
obj = { "dblink": "" }
print(obj.get("dblink") is None)  # False，因为 "dblink" 存在，只是值为空字符串

False

In [3]:
import time

for i in range(3):
    print(i, end=" ", flush=True)
    time.sleep(1)

0 1 2

In [4]:
print("Python", "is", "awesome", sep="-", end="!!!\n")
# 输出: Python-is-awesome!!!

with open("log.txt", "w") as f:
    print("Logging message\n111111111111111111111111111111", file=f, flush=True)
# 这会写入文件: Logging message

Python-is-awesome!!!

In [5]:
def least_difference(a, b, c):
    """Return the smallest difference between any two numbers
    among a, b and c.
    
    >>> least_difference(1, 5, -5)
    4
    """
    diff1 = abs(a - b)
    diff2 = abs(b - c)
    diff3 = abs(a - c)
    return min(diff1, diff2, diff3)

In [6]:
help(least_difference)

Help on function least_difference in module __main__:

least_difference(a, b, c)
    Return the smallest difference between any two numbers
    among a, b and c.

    >>> least_difference(1, 5, -5)
    4

In [7]:
def greet(who="Colin"):
    print("Hello,", who)
    
greet()
greet(who="Kaggle")
# (In this case, we don't need to specify the name of the argument, because it's unambiguous.)
greet("world")
f.write("Greeting messages logged\n")

Hello, Colin
Hello, Kaggle
Hello, world

ValueError: I/O operation on closed file.

In [8]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [9]:
list = [9582508089  , 39603616    , 39603617    , 80009866    , 80500032    , 8680666602  , 86801003    , 86801004    , 86801007    , 86800001    , 86801015    , 86801117    , 86800240    , 85276070    , 85312318    , 80007982    , 83601729    , 83920295    , 83925021  , 9982500929  , 80608666    , 8680188803  , 86800207    , 80500051    , 83966266    , 80009950    , 86801005    , 86801008    , 86801114    , 86801017    , 86801018    , 86800211    , 85069190    , 83926688    , 82400885    , 86800260    , 80082222    , 85120626    , 82401649    , 82508111    , 82508269    , 9582401649  , 9582508111  , 9582508257  , 9982402375  , 80009968    , 80608669    , 39603613    , 83925945    , 8680188800  , 83978666    , 80009928    , 80009971    , 8680030002  , 8050000602  , 80500008    , 8680666601  , 86801021    , 85302206    , 85301207    , 81505981    , 85090370    , 83926666    , 39603615    , 80029281    , 83970821    , 80003383    , 80009415    , 80009867    , 80029103    , 86800221    , 86800251    , 8050000604  , 8050000605  , 80500011    , 86801001    , 86801011    , 86800037    , 85293491    , 85318427    , 85280998    , 85317241    , 80092222    , 81505980    , 85203970    , 9982508269  , 39603614    , 83925669    , 83925670    , 80003309    , 80029255    , 80555000    , 80555002    , 80036666    , 8003666601  , 8050000601  , 80500040    , 86801014    , 86801019    , 86800123    , 86800204    , 86800208    , 86800233    , 85210107    , 85297773    , 85297802    , 85213787    , 85213811    , 86800032    , 86800033    , 86800039    , 85068666    , 81505982    , 85194596    , 86800026    , 86800031    , 85120678    , 83972023    , 82500929    , 9582402375  , 9982401649  , 9982508111  , 9982508257  , 81005666    , 8000986601  , 8000986603  , 8000986605  , 8680188801  , 8680188802  , 83970820    , 83970822    , 80009339    , 80555001    , 8680030001  , 8003666602  , 80500050    , 86801010    , 86801016    , 86801020    , 86801111    , 86801113    , 86801119    , 86800212    , 86800027    , 86800289    , 80009970    , 83976769    , 81501586    , 82100287    , 82508257    , 9582500929  , 9582508269  , 85066866    , 39603602    , 39603603    , 80029450    , 80029261    , 80003418    , 80005477    , 80029092    , 86800227    , 8680030003  , 80500006    , 8050000603  , 80500009    , 8050003301  , 8050003401  , 80609001    , 80029666    , 86806666    , 86806667    , 8680666702  , 86801006    , 86801009    , 86800202    , 85306773    , 85318193    , 83920287    , 81506066    , 86005016    , 82402375    , 82508089    , 9982508089  , 8000986602  , 8000986604  , 86801888    , 80500005    , 80500007    , 8680666701  , 86801013    , 86800203    , 85069189    , 82107766    , 39605882    , 80036758    , 82508100    , 83978688    , 85199252    , 85259186    ]

In [10]:
len(list)

199

In [11]:
x = 12
x.bit_length()

4

In [12]:
help(x.bit_length)

Help on built-in function bit_length:

bit_length() method of builtins.int instance
    Number of bits necessary to represent self in binary.

    >>> bin(37)
    '0b100101'
    >>> (37).bit_length()
    6

In [13]:
# extract all numbers from a string
import re
text = "CTP期货oracle数据抽取成功。其中：成交手续费明细记录559924条；投资者资金余额记录162条；投资者交割数据记录0条；投资者持仓汇总记录8137条；当前投资者期货基础手续费率记录35895条；分项资金数据记录118条；投资者信息记录166条；投资者期权合执行结果记录2条；投资者资金变动记录137条；成交记录484873条；投资者持仓明细记录215162条；系统成交记录478354条；投资者组合持仓明细记录19963条；当前投资者质押记录10条；投资者结算记录8137条；结算日期记录8条；交易日历记录51133条；市场行情记录15867条；当前交易所期货保证金率调整记录0条；产品记录164条；枚举值元数据记录4565条；交易所记录6条；合约结算动态参数记录15867条；当前交易所基础手续费率记录123条；合约记录135408条；经纪公司记录1条；当前交易所期货保证金率记录871条；当前质押品记录80条；CTP期货freepoint主账号的oracle数据抽取成功。其中：fp资金表t_fp_investorsettlement1条；fp成交明细表t_fp_investortradedtl3575条；fp持仓明细表t_fp_investorpositiondtl13780条；fp持仓汇总表t_fp_investorposition26条；fp出入金表t_fp_investorfundchange2条；fp交割表t_fp_investordelivery0条；CTP期货freepointSingapore主账号的oracle数据抽取成功。其中：fp资金表t_fp_investorsettlement1条；fp成交明细表t_fp_investortradedtl5条；fp持仓明细表t_fp_investorpositiondtl1033条；fp持仓汇总表t_fp_investorposition5条；fp出入金表t_fp_investorfundchange0条；fp交割表t_fp_investordelivery0条；TK&TKQFII日内交易数据抽取结果：TK数据已生成，可以下载账单！；TKQFII数据已生成，可以下载账单！emir成交拆分数据抽取结果：拆分前开仓汇总手数0; 拆分后开仓汇总手数0;拆分前持仓汇总手数628; 拆分后持仓汇总手数1061;拆分前平仓汇总手数0; 拆分后平仓汇总手数0;拆分前交割汇总手数0; 拆分后交割汇总手数0;"


numberlist = re.findall(r'\d+', text)
print(numberlist)

# remove the first number
numberlist.pop(0)

# sum of all numbers in a string  3.5min
sum([int(i) for i in numberlist])

['559924', '162', '0', '8137', '35895', '118', '166', '2', '137', '484873', '215162', '478354', '19963', '10', '8137', '8', '51133', '15867', '0', '164', '4565', '6', '15867', '123', '135408', '1', '871', '80', '1', '3575', '13780', '26', '2', '0', '1', '5', '1033', '5', '0', '0', '0', '0', '628', '1061', '0', '0', '0', '0']

1495326

In [14]:
invlist = [9582508089,39603616,39603617,80009866,80500032,8680666602,86801003,86801004,86801007,86800001,86801015,86801117,86800240,85276070,85312318,80007982,83601729,8392029583925021,9982500929,80608666,8680188803,86800207,80500051,83966266,80009950,86801005,86801008,86801114,86801017,86801018,86800211,85069190,83926688,82400885,86800260,80082222,85120626,82401649,82508111,82508269,9582401649,9582508111,9582508257,9982402375,80009968,80608669,39603613,83925945,8680188800,83978666,80009928,80009971,8680030002,8050000602,80500008,8680666601,86801021,85302206,85301207,81505981,85090370,83926666,39603615,80029281,83970821,80003383,80009415,80009867,80029103,86800221,86800251,8050000604,8050000605,80500011,86801001,86801011,86800037,85293491,85318427,85280998,85317241,80092222,81505980,85203970,9982508269,39603614,83925669,83925670,80003309,80029255,80555000,80555002,80036666,8003666601,8050000601,80500040,86801014,86801019,86800123,86800204,86800208,86800233,85210107,85297773,85297802,85213787,85213811,86800032,86800033,86800039,85068666,81505982,85194596,86800026,86800031,85120678,83972023,82500929,9582402375,9982401649,9982508111,9982508257,81005666,8000986601,8000986603,8000986605,8680188801,8680188802,83970820,83970822,80009339,80555001,8680030001,8003666602,80500050,86801010,86801016,86801020,86801111,86801113,86801119,86800212,86800027,86800289,80009970,83976769,81501586,82100287,82508257,9582500929,9582508269,85066866,39603602,39603603,80029450,80029261,80003418,80005477,80029092,86800227,8680030003,80500006,8050000603,80500009,8050003301,8050003401,80609001,80029666,86806666,86806667,8680666702,86801006,86801009,86800202,85306773,85318193,83920287,81506066,86005016,82402375,82508089,9982508089,8000986602,8000986604,86801888,80500005,80500007,8680666701,86801013,86800203,85069189,82107766,39605882,80036758,82508100,83978688,85199252,85259186]
len(invlist)

198

In [15]:
x = 0.125
numerator, denominator = x.as_integer_ratio()
print(type(x.as_integer_ratio()))

<class 'tuple'>

In [16]:
d = [1, 2, 3][1:]
d

[2, 3]

In [17]:
nums = [5, -1, -2, 0, 3]
def count_negatives(nums):
    # Reminder: in the "booleans and conditionals" exercises, we learned about a quirk of 
    # Python where it calculates something like True + True + False + True to be equal to 3.
    return sum([num < 0 for num in nums])
  
count_negatives(nums)

2

In [18]:
[num < 0 for num in nums]

[False, True, True, False, False]

In [19]:
print("hello")
print("world")
print("hello", end='')
print("pluto", end='')

hello
world
hellopluto

In [20]:
datestr = '1956-01-31'
year, month, day = datestr.split('-')
year

'1956'

In [21]:
'/'.join([month, day, year])

'01/31/1956'

In [22]:
planet = 'A'
position = 3
"{}, you'll always be the {}th planet to {} me.".format(planet, position, '{}')

"A, you'll always be the 3th planet to {} me."

In [23]:
planet.rjust(10)

'         A'

In [24]:
token = 'Hi, nelae.,,,ee'
token.strip('.,')

'Hi, nelae.,,,ee'

In [25]:
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [26]:
print("pi to 4 significant digits = {:.10}".format(math.pi))

pi to 4 significant digits = 3.141592654

In [27]:
from math import log, pi
from numpy import asarray
print(pi, log(32, 2))

3.141592653589793 5.0

In [28]:
import numpy
print("numpy.random is a", type(numpy.random))
print("it contains names such as...",
      dir(numpy.random)[-15:]
     )

numpy.random is a <class 'module'>
it contains names such as... ['set_bit_generator', 'set_state', 'shuffle', 'standard_cauchy', 'standard_exponential', 'standard_gamma', 'standard_normal', 'standard_t', 'test', 'triangular', 'uniform', 'vonmises', 'wald', 'weibull', 'zipf']

In [29]:
numpy.random.randint(1, 100)

5

In [30]:
rolls = numpy.random.randint(low=1, high=6, size=10)
rolls + 10

array([11, 12, 12, 14, 13, 13, 13, 12, 15, 15])

In [31]:
type(rolls)

numpy.ndarray

In [32]:
x = [12, 15, 15, 12, 13, 15, 14, 14, 11, 13]
type(x)
x[1:-1]

[15, 15, 12, 13, 15, 14, 14, 11]

In [33]:
xlist = [[1,2,3],[2,4,6],]
# Create a 2-dimensional array
x = numpy.asarray(xlist)

In [34]:
text = "你好'啊"
text

"你好'啊"

In [35]:
revenue = input("Enter sales revenue: ")

revenue

'3000'

In [36]:
import requests

download_url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv"
target_csv_path = "nba_all_elo.csv"

response = requests.get(download_url)
response.raise_for_status()    # Check that the request was successful
with open(target_csv_path, "wb") as f:
    f.write(response.content)
print("Download ready.")

Download ready.

In [37]:
import pandas as pd
nba = pd.read_csv("nba_all_elo.csv")
type(nba)

pandas.core.frame.DataFrame

In [38]:
nba.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN

In [39]:
pd.set_option("display.max.columns", None)

In [40]:
pd.set_option("display.precision", 2)

In [41]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB

In [42]:
nba.describe()

,gameorder,_iscopy,year_id,seasongame,is_playoffs,pts,elo_i,elo_n,win_equiv,opp_pts,opp_elo_i,opp_elo_n,forecast
count,126314.00,126314.0,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00
mean,31579.00,0.5,1988.20,43.53,0.06,102.73,1495.24,1495.24,41.71,102.73,1495.24,1495.24,0.50
std,18231.93,0.5,17.58,25.38,0.24,14.81,112.14,112.46,10.63,14.81,112.14,112.46,0.22
min,1.00,0.0,1947.00,1.00,0.00,0.00,1091.64,1085.77,10.15,0.00,1091.64,1085.77,0.02
25%,15790.00,0.0,1975.00,22.00,0.00,93.00,1417.24,1416.99,34.10,93.00,1417.24,1416.99,0.33
50%,31579.00,0.5,1990.00,43.00,0.00,103.00,1500.95,1500.95,42.11,103.00,1500.95,1500.95,0.50
75%,47368.00,1.0,2003.00,65.00,0.00,112.00,1576.06,1576.29,49.64,112.00,1576.06,1576.29,0.67
max,63157.00,1.0,2015.00,108.00,1.00,186.00,1853.10,1853.10,71.11,186.00,1853.10,1853.10,0.98

In [43]:
import numpy as np
nba.describe(include=object)

,game_id,lg_id,date_game,team_id,fran_id,opp_id,opp_fran,game_location,game_result,notes
count,126314,126314,126314,126314,126314,126314,126314,126314,126314,5424
unique,63157,2,12426,104,53,104,53,3,2,231
top,194611010TRH,NBA,4/13/2011,BOS,Lakers,BOS,Lakers,H,L,at New York NY
freq,2,118016,30,5997,6024,5997,6024,63138,63157,440

In [44]:
nba["team_id"].value_counts()

team_id
BOS    5997
NYK    5769
LAL    5078
DET    4985
PHI    4533
       ...
INJ      60
PIT      60
DTF      60
TRH      60
SDS      11
Name: count, Length: 104, dtype: int64

In [45]:
nba.loc[nba["fran_id"] == "Lakers", "team_id"].value_counts()

team_id
LAL    5078
MNL     946
Name: count, dtype: int64

In [46]:
nba["date_played"] = pd.to_datetime(nba["date_game"])
nba["date_played"]

0        1946-11-01
1        1946-11-01
2        1946-11-02
3        1946-11-02
4        1946-11-02
            ...
126309   2015-06-11
126310   2015-06-14
126311   2015-06-14
126312   2015-06-16
126313   2015-06-16
Name: date_played, Length: 126314, dtype: datetime64[ns]

In [47]:
nba.loc[nba["team_id"] == "MNL", "date_played"].agg(("min", "max"))

min   1948-11-04
max   1960-03-26
Name: date_played, dtype: datetime64[ns]

In [48]:
revenues = pd.Series([5555, 7000, 1980])
revenues

0    5555
1    7000
2    1980
dtype: int64

In [49]:
revenues.index
# 与下面的代码等价
revenues.keys()

RangeIndex(start=0, stop=3, step=1)

In [50]:
type(revenues.values)
# check how many dimensions the data has
revenues.values.ndim

1

In [51]:
city_revenues = pd.Series([4200, 8000, 6500],index=["Amsterdam", "Toronto", "Tokyo"])
city_revenues

Amsterdam    4200
Toronto      8000
Tokyo        6500
dtype: int64

In [52]:
city_revenues[1]

C:\Users\LUCY\AppData\Local\Temp\ipykernel_83276\3958202293.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  city_revenues[1]

8000

In [53]:
city_revenues.shape

(3,)

In [54]:
city_employee_count = pd.Series({"Amsterdam": 5, "Tokyo": 8})
city_data = pd.DataFrame({"revenue": city_revenues,
 "employee_count": city_employee_count})

In [55]:
current_decade = nba[nba["year_id"] > 2010]
current_decade.shape

(12658, 24)

In [56]:
games_with_notes = nba[nba["notes"].notnull()]
# 等价于 games_with_notes = nba[nba["notes"].notna()]
games_with_notes.shape

(5424, 24)

In [57]:
ers = nba[nba["fran_id"].str.endswith("ers")]
ers.shape

(27797, 24)

In [58]:
nba[
    (nba["_iscopy"] == 0) &
    (nba["pts"] > 100) &
    (nba["opp_pts"] > 100) &
    (nba["team_id"] == "BLB")
]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,date_played
1726,864,194902260BLB,NBA,0,1949,2/26/1949,53,0,BLB,Baltimore,114,1421.94,1419.43,38.56,MNL,Lakers,115,1637.99,1640.49,H,L,0.34,NaN,1949-02-26
4890,2446,195301100BLB,NBA,0,1953,1/10/1953,32,0,BLB,Baltimore,126,1328.67,1356.65,25.80,BOS,Celtics,105,1591.14,1563.17,H,W,0.28,NaN,1953-01-10
4909,2455,195301140BLB,NBA,0,1953,1/14/1953,34,0,BLB,Baltimore,104,1349.83,1346.36,24.88,MNL,Lakers,112,1665.44,1668.91,H,L,0.22,NaN,1953-01-14
5208,2605,195303110BLB,NBA,0,1953,3/11/1953,66,0,BLB,Baltimore,107,1284.52,1282.24,19.58,NYK,Knicks,113,1649.15,1651.44,H,L,0.18,at Boston MA,1953-03-11
5825,2913,195402220BLB,NBA,0,1954,2/22/1954,60,0,BLB,Baltimore,110,1303.75,1301.97,20.74,BOS,Celtics,111,1591.49,1593.27,H,L,0.25,at Worcester MA,1954-02-22

In [59]:
nba[
    (nba["_iscopy"] == 0) &
    (nba["team_id"].str.startswith("LA")) &
    (nba["year_id"]==1992) &
    (nba["notes"].notnull())
]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,date_played
68901,34451,199205030LAC,NBA,0,1992,5/3/1992,86,1,LAC,Clippers,115,1546.90,1556.0,47.89,UTA,Jazz,107,1647.51,1638.41,H,W,0.50,"at Anaheim, CA (Anaheim Convention Center)",1992-05-03
68903,34452,199205030LAL,NBA,0,1992,5/3/1992,86,1,LAL,Lakers,76,1489.65,1474.4,39.40,POR,Trailblazers,102,1655.12,1670.37,H,L,0.41,"at Las Vegas, NV",1992-05-03

In [63]:
points = nba["pts"]
type(points) # pandas.core.series.Series
points.shape # (126314,)
points.sum()

12976235

In [ ]:
nba.groupby("fran_id", sort=False)["pts"].sum()

In [73]:
nba[
    (nba["fran_id"] == "Spurs") &
    (nba["year_id"] > 2010)
].groupby(["year_id", "game_result"])["game_id"].count()

year_id  game_result
2011     L              25
         W              63
2012     L              20
         W              60
2013     L              30
         W              73
2014     L              27
         W              78
2015     L              31
         W              58
Name: game_id, dtype: int64

In [84]:
df = nba.copy()

In [85]:
df["difference"] = df.pts - df.opp_pts
df["difference"]
# df["difference"]等价于df.difference
df.difference

0         -2
1          2
2         16
3        -16
4        -17
          ..
126309   -21
126310    13
126311   -13
126312    -8
126313     8
Name: difference, Length: 126314, dtype: int64

In [86]:
df.difference.max()

68

In [87]:
renamed_df = df.rename(
    columns={"game_result": "result", "game_location": "location"}
)
renamed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 25 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   gameorder    126314 non-null  int64
 1   game_id      126314 non-null  object
 2   lg_id        126314 non-null  object
 3   _iscopy      126314 non-null  int64
 4   year_id      126314 non-null  int64
 5   date_game    126314 non-null  object
 6   seasongame   126314 non-null  int64
 7   is_playoffs  126314 non-null  int64
 8   team_id      126314 non-null  object
 9   fran_id      126314 non-null  object
 10  pts          126314 non-null  int64
 11  elo_i        126314 non-null  float64
 12  elo_n        126314 non-null  float64
 13  win_equiv    126314 non-null  float64
 14  opp_id       126314 non-null  object
 15  opp_fran     126314 non-null  object
 16  opp_pts      126314 non-null  int64
 17  opp_elo_i    126314 non-null  float64
 18  opp_elo_n    126314 non-null  float64
 19  location     126314 non-null  object
 20  result       126314 non-null  object
 21  forecast     126314 non-null  float64
 22  notes        5424 non-null    object
 23  date_played  126314 non-null  datetime64[ns]
 24  difference   126314 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(8), object(10)
memory usage: 24.1+ MB

In [ ]:
elo_columns = ["elo_i", "elo_n", "opp_elo_i", "opp_elo_n"]
df.drop(elo_columns, inplace=True, axis=1) # inplace=True表示在原数据上进行修改, axis=1表示删除列
df.shape

(126314, 21)

In [91]:
df["date_game"] = pd.to_datetime(df["date_game"])
df["date_game"]

0        1946-11-01
1        1946-11-01
2        1946-11-02
3        1946-11-02
4        1946-11-02
            ...
126309   2015-06-11
126310   2015-06-14
126311   2015-06-14
126312   2015-06-16
126313   2015-06-16
Name: date_game, Length: 126314, dtype: datetime64[ns]

In [92]:
df["game_location"].nunique()

3

In [93]:
df["game_location"].value_counts()

game_location
H    63138
A    63138
N       38
Name: count, dtype: int64

In [94]:
df["game_location"] = pd.Categorical(df["game_location"])
df["game_location"].dtype

CategoricalDtype(categories=['A', 'H', 'N'], ordered=False, categories_dtype=object)

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  datetime64[ns]
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  win_equiv      126314 non-null  float64
 12  opp_id         126314 non-null  object
 13  opp_fran       126314 non-null  object
 14  opp_pts        126314 non-null  int64
 15  game_location  126314 non-null  category
 16  game_result    126314 non-null  object
 17  forecast       126314 non-null  float64
 18  notes          5424 non-null    object
 19  date_played    126314 non-null  datetime64[ns]
 20  difference     126314 non-null  int64
dtypes: category(1), datetime64[ns](2), float64(2), int64(8), object(8)
memory usage: 19.4+ MB

In [96]:
df["game_result"] = pd.Categorical(df["game_result"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  datetime64[ns]
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  win_equiv      126314 non-null  float64
 12  opp_id         126314 non-null  object
 13  opp_fran       126314 non-null  object
 14  opp_pts        126314 non-null  int64
 15  game_location  126314 non-null  category
 16  game_result    126314 non-null  category
 17  forecast       126314 non-null  float64
 18  notes          5424 non-null    object
 19  date_played    126314 non-null  datetime64[ns]
 20  difference     126314 non-null  int64
dtypes: category(2), datetime64[ns](2), float64(2), int64(8), object(7)
memory usage: 18.6+ MB

In [ ]:
rows_without_missing_data = nba.dropna() # 删除所有包含缺失值的行
rows_without_missing_data.shape

(5424, 24)

In [ ]:
data_without_missing_columns = nba.dropna(axis=1) # 删除所有包含缺失值的列
data_without_missing_columns.shape

(126314, 23)

In [100]:
import warnings
warnings.filterwarnings("ignore")

In [102]:
data_with_default_notes = nba.copy()
data_with_default_notes["notes"].fillna(
    value="no notes at all",
    inplace=True
)
data_with_default_notes["notes"].describe()

count              126314
unique                232
top       no notes at all
freq               120890
Name: notes, dtype: object

In [103]:
nba[nba["pts"] == 0]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,date_played
26684,13343,197210260VIR,ABA,1,1973,10/26/1972,7,0,DNR,Nuggets,0,1460.34,1457.45,40.41,VIR,Squires,2,1484.19,1487.08,A,L,0.33,at Richmond VA; forfeit to VIR,1972-10-26

In [105]:
nba[(nba["pts"] > nba["opp_pts"]) & (nba["game_result"] != 'W')].empty

nba[(nba["pts"] < nba["opp_pts"]) & (nba["game_result"] != 'L')].empty

True

In [ ]:
type(nba["team_id"].str)

pandas.core.series.Series

In [110]:
further_city_data = pd.DataFrame(
    {"revenue": [7000, 3400], "employee_count":[2, 2]},
    index=["New York", "Barcelona"]
)

In [111]:
all_city_data = pd.concat([city_data, further_city_data], sort=False)
all_city_data

           revenue  employee_count
Amsterdam     4200             5.0
Tokyo         6500             8.0
Toronto       8000             NaN
New York      7000             2.0
Barcelona     3400             2.0

In [112]:
city_countries = pd.DataFrame({
    "country": ["Holland", "Japan", "Holland", "Canada", "Spain"],
    "capital": [1, 1, 0, 0, 0]},
    index=["Amsterdam", "Tokyo", "Rotterdam", "Toronto", "Barcelona"]
)
cities = pd.concat([all_city_data, city_countries], axis=1, sort=False)
cities

           revenue  employee_count  country  capital
Amsterdam   4200.0             5.0  Holland      1.0
Tokyo       6500.0             8.0    Japan      1.0
Toronto     8000.0             NaN   Canada      0.0
New York    7000.0             2.0      NaN      NaN
Barcelona   3400.0             2.0    Spain      0.0
Rotterdam      NaN             NaN  Holland      0.0